body {
	width: 300px;
}

#show-list-view {
	margin-top: 0.5em;
}

#add-show-view {
	padding-top: 0.4em;;
	padding-bottom: 0.8em;
}

#show-dropdown-btn {
	margin-bottom: 0.7em;
}

.list-group-item h4 {
	display: inline;
}

.list-group-item {
	padding-bottom: 1.8em;
}

.update {
	margin-top: 1.5em;
}

.remove-dropdown {
	margin-top: 1em;
}
