<li class="list-group-item">
	{{#with model}}
	<h4>
		<a href="#" class="next">
			{{title}}
			<span class="badge">{{episode}}</span>
		</a>
	</h4>

	<div class="pull-right show-btns">
		<div class="btn-group">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#{{infoId}}">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
		</div>
	</div>

	<form id="{{infoId}}" class="update collapse">
		<div class="form-group">
			<label for="titleinput">Title</label>
			<input type="text" name="title" class="title form-control" value="{{title}}" required/>
		</div>
		<div class="form-group">
			<label for="urlinput">URL</label>
			<input type="text" name="url" class="url form-control" value="{{url}}" required/>
		</div>
		<div class="form-group">
			<label for="episodeinput">Episode</label>
			<input type="text" name="episode" class="episode form-control" value="{{episode}}" required/>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="reset" class="btn btn-warning">Cancel</button>
			<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{removeId}}">Delete</button>
		</div>
	</form>

	<div id="{{removeId}}" class="remove-dropdown collapse text-center">
		Are you sure?
		<button type="button" class="remove btn">Yes</button>
		<button type="button" class="btn" data-toggle="collapse" data-target="#{{removeId}}">No</button>
	</div>
	{{/with}}
</li>
